<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="shortcut icon" type="image/x-icon" href="<?php echo $this->url->get('img/favicon.ico')?>"/>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>Server error</title>
    </head>
    <body>
        <div class="container">
            <h1>500</h1>
            <em>Something nasty happened.</em>
            <em>Please refresh page or come back later.</em>
        </div>
    </body>
</html>
